<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prd.inv.dao.UnitMapper">
  <resultMap id="BaseResultMap" type="com.prd.inv.entity.Unit">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="attribute" jdbcType="VARCHAR" property="attribute" />
    <result column="is_system" jdbcType="TINYINT" property="isSystem" />
  </resultMap>
  <sql id="Base_Column_List">
    id, unit, attribute, is_system
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inv_unit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from inv_unit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.prd.inv.entity.Unit">
    insert into inv_unit (id, unit, attribute, 
      is_system)
    values (#{id,jdbcType=BIGINT}, #{unit,jdbcType=VARCHAR}, #{attribute,jdbcType=VARCHAR}, 
      #{isSystem,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.prd.inv.entity.Unit">
    insert into inv_unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="attribute != null">
        attribute,
      </if>
      <if test="isSystem != null">
        is_system,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null">
        #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="isSystem != null">
        #{isSystem,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.prd.inv.entity.Unit">
    update inv_unit
    <set>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null">
        attribute = #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="isSystem != null">
        is_system = #{isSystem,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.prd.inv.entity.Unit">
    update inv_unit
    set unit = #{unit,jdbcType=VARCHAR},
      attribute = #{attribute,jdbcType=VARCHAR},
      is_system = #{isSystem,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>